extends layout

block content
 
  header.header.row(role="header")
    .col-12.desktop-col-12
      h1.logo How to use this site

  section.row
    .col-md-6
      h3 Sellers

      ul
        li hit the create account button
        li visit your profile - add a name for your shop
        li you will given a generated url like http://hsieh.i:3000/quick/55686b3cc8823cb30d2f4e21/
        li now you need to install the 
          a(href="https://chrome.google.com/webstore/detail/postman-rest-client/fdmmgilgnpjigdojojpjoooidkmcomcm?hl=en" alt="postman rest client") Postman REST client
        li add new products to show as shown in the picture
        li share!
        li tags, and possibly even a user interface are under development
        li each product has an individual paypal url
        img(src="inst.png")

    .col-md-6
      h3 Buyers
        li have a look around
        li buy something using your paypal account
        li put your contact details in the message
        li wait for the vendor to send you your item

