extends layout

block content
 
  header.header.row(role="header")
    .col-12.desktop-col-12
      h1.logo Answers on a Post Card

  nav.nav-tabs.row(role="navigation") 
    .col-12.desktop-col-12.page-header-container
      h2.page-headerSHOP Shop by vendor
    .col-12.desktop-col-12
      div(filterlist)

  section(role="content" ng-controller="FilterCtrl")
    .row(ng-repeat="shop in shops")
      a(href="/shop/{{shop._id}}") - {{shop.profile.name}}
    //- {{shops}}
    //-     div.col-sm-12
    //-       h3.section-title {{shop.owner}}
    //-       .row.sales-grid
    //-         .col-sm-4(ng-repeat="product in shop.products")
    //-           article.simpleCart_shelfItem
    //-             span.item_price £{{product.price}}
    //-             img(src="{{product.image}}" alt="{{product.name}} image")
    //-             .inner-contentedness
    //-               h4.item_name {{product.name}}
    //-               //- a(href="{{product._id}}" ui-sref="")
    //-               input.item_add.btn(type="button" value="Add to cart")
    //-               input.item_quantity(type="hidden" value="1")
    //-               p {{product.desc}}

    //- .row
    //-   .col-sm-6
    //-     h3 Accepting Payments
    //-     ul 
    //-       li Sign up for a wallet at Blockchain.info
    //-       li Verify email
    //-       li Enable ip for site 
    //-       li copy idenfifier for bitcoin wallet
   .row
    .col-sm-6
      h2 Heading
      p
        a.btn.btn-default(href='#', role='button') View details 
    .col-sm-6
      h2 Heading
        a.btn.btn-default(href='#', role='button') View details »
   .row
    .col-sm-6
      h2 Heading
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Heading

        a.btn.btn-default(href='#', role='button') View details »

