extends layout

block content
 
  header.header.row(role="header")
    .col-12.desktop-col-12
      h1.logo Answers on a Post Card

  nav.nav-tabs.row(role="navigation") 
    .col-12.desktop-col-12.page-header-container
      h2.page-headerSHOP BY SECTION
    .col-12.desktop-col-12
      div(filterlist)
  h3 !{owner}

  section(ng-controller="shopCtrl" ng-init="init('#{owner}')")
    h3{{shop.owner}}
    //- {{shop.products}}
    .row
      .col-sm-10
        .row.sales-grid
          .col-sm-4(ng-repeat="product in shop.products")
            article.simpleCart_shelfItem(ng-hide="paywithcoins")
              span.item_price £{{product.price}}
              img(src="{{product.image}}" alt="{{product.name}} image")
              .inner-contentedness
                h4.item_name {{product.name}}
                //- a(href="{{product._id}}" ui-sref="")
                a.item_add.btn(href="javascript:;") Buy Now            
                select.item_quantity(id="xxx", name="quantity")
                  -for(var i = 1;i<10;i++){
                  option(value="#{i}") #{i}
                  -}
                p {{product.desc}}
            //-   //- article.paywithcoins(ng-show="paywithcoins")
            //-   article.paywithcoins(ng-hide="paywithcoins")
            //-     h6 Alias
            //-     input(type="text" name="alias" placeholder="if it's not an anonymous donation")
            //-     h6 Email
            //-     input(type="text" name="alias" placeholder="like, so we can send you your shit")


            //- article.paywithcoins(ng-show="paywithcoins")
              h4 pay with coins
      .col-sm-2
        a.simpleCart_checkout(href="javascript:;") checkout
        a.simpleCart_empty(href="javascript:;")
        //- <!-- show the cart -->
        div.simpleCart_items
        div.simpleCart_total
        div.simpleCart_quantity
        //- div.simpleCart_tax
        //- div.simpleCart_taxRate
        div.simpleCart_shipping
        div.simpleCart_grandTotal
        h3 This is a simple checkout, you pay with paypal, we get your email. There will be a proper thing that collects addresses eventually, but appeaerances can be deceiving.



