h1{color:orange;text-transform:uppercase}

ul.doneList, ul.taskList {list-style:none;}

body{background:url(../images/background.jpg);font-family: 'Belgrano', serif;}

a.linkOut {font-family: 'Stalemate', cursive; float:right; margin-top:-60px; margin-right: 70px; font-size:18px;color:#693F08;}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.page {width:800px;padding:30px 0 0 0; margin:0 auto;background:url(../imag es/background.png); height:1400px; display:none;}

  .taskList {width:320px;height:50px; background:; position:relative; margin:0 auto;}
    .taskList .left {height:47px; width:58px; background:url(../images/test.png);position:absolute;left:-58px;}
    .taskList .right {height:47px; width:70px; background:url(../images/right.png);position:absolute;right:-70px;}

    .taskList ul {display:block;background:url(../images/enter-slice.png); background-repeat:repeat-x;height:41px;width:320px;padding:3px 0 7px 0;color:snow;}

.edit {position:absolute; bottom:0; font-size:19px;}
.edit input {padding:0;margin:0; position:absolute; bottom:0;background:none;border:none;font-family: 'Belgrano', serif;color:snow;font-size:19px;}
input.edit {padding:0;margin:0; position:absolute; bottom:0;background:none;border:none;font-family: 'Belgrano', serif;color:snow;font-size:19px;}

.success {background-image:url(../images/button.png);width:173px; height:80px; display:block; font-size: 0;}
.click-button {background-image:url(../images/button-push.png);width:173px; height:80px; display:block;}

.printer{width:487px;}

.task  {width:320px;}

.action{width:400px;margin:0 auto; height:150px;}
.clock{float:left;}
.done{float:left;margin-top:20px;}

.doneList .task {font-size:15px; font-weight:bold;}
.task {margin:7px 0 0;}

.doneList li { padding:5px 0 7px; margin:0px 0 0px; list-style:none;}

.doneList .task {color:black; background:none; }


.led-base {height:138px;width:167px; background-image:url(../images/led-base.png);display:block;}
.timer {height:124px;width:133px; }
.timing {height:124px;width:133px; background:url(../images/leds-on.gif);}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */
.slide {display:block; background:;
  position: relative;
  overflow:hidden;
}

.slide .above {
  margin:-80px;
  
  }
  
.slide .inn  .er {
  position: absolute;
  left: 0;
  bottom: 0;
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */
.doneList{padding-top:10px; background-image:url(../images/printer2.png);background-repeat:no-repeat; width:487px; margin:0 auto;}
.doneList ul  h3{font-size:16px;padding-left:42px;}
.doneList li {background-image:url(../images/ledger.png);background-position:bottom;padding:6px 38px 12px 38px;}

.doneList li.instructions {background-image:url(../images/paper.png);background-position:bottom; border-bottom:0; padding:6px 34px 36px 34px;margin-top:-460px;}

.doneList li.instructions ol {background:none; border:none;}
.doneList li.instructions  ol li {background:none;border:none; font-size:12px;}



