@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/bootstrap-social";
@import "themes/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

.sales-grid {
  .one {
    background:darkred;
  }
  .two{
    background:gold;
  }
  .three{
    background:darkgreen;

  }

  .simpleCart_shelfItem {
    border:1px solid #c4c4c4;
    position: relative;
    overflow: hidden;
    img {
        display: block;
  width: 100%;
    }

  }
}

.item_price {
  position: absolute;
  top:10px; 
  right: 20px;
  background: #CCFFCC;
  // width: 40px;
  border-radius: 20px;
  padding:20px 10px;
}

.inner-contentedness {
  padding:15px;
}