<!DOCTYPE html>
<html>
<head>
    <title>Backbone Outline</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>

    <link href='http://fonts.googleapis.com/css?family=Erica+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]> 
  -->
    <!-- // <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> -->
  <!--
  <![endif]-->

</head>
<body>
  <div class="page">

  <!-- This will be the control view -->
  <section id="task-control">

  </section>
  <!-- end control view -->

     <div class="doneList">
      <ul class="slide printer">
        <div id="task-collection-view">

        </div>
        <li class="instructions">
          <h3>Instructions:</h3>
          <ol>
            <li>Use the input field to record that &quot;small change&quot; you hope to bill for.</li>
            <li>Hit return to save your task and start the timer.</li>
            <li>When the lights come on, you're on the clock. Get moving!</li>
            <li>Come back once the task is complete, hit done and your time will be recorded in this printed ledger.</li>
            <li>You can record as many tasks to your ledger as required.</li>
            <li>The next release will give you the option to save your tasks to email.</li> 
            <li>For now you can save your work by cut &amp; paste when you're finished working</li>
          </ol>
        </li>
        <a href="http://binarygeometry.net" class="linkOut">BinaryGeometry.net</a>
      </ul>
     </div><!-- end donelist -->
     
    </div>


<!--   <div class="container">
    <div class="row">
      <nav class="col-md-6">
        <h1>Space SubLets</h1>
        <h6>"In order to understand a problem you must first understand the solution that has been used to create it"</h6>
        <ul>
          <li class="control-item"><a href="#home">Home</a></li> 
          <li class="control-item"><a href="#person/7">Person Seven</a></li> 
          <li class="control-item"><a href="#desk/sector6/desk5">Sector 6 Desk 5</a></li> 
        </ul>
        <ul id="desks">
          
        </ul>
      </nav>
      <article class="col-md-6">
        <!-- rendered view goes here -->
        <!-- <section class="partial-wrapper" id="pw-nav"></section>       -->
        <!-- <section class="partial-wrapper" id="pw-main"></section>       -->
      <!-- </article> -->
    <!-- </div> -->
  <!-- </div> -->

  
    <!-- <button id="add-friend">Add Friend</button> -->
    <!-- <ul id="friends-list"> -->
    <!-- </ul> -->
<script src="js/components/jquery/dist/jquery.js"></script>
<script src="js/components/underscore/underscore.js"></script>
<script src="js/components/backbone/backbone.js"></script>

<script type="text/html" id="task-control-view">
    <div class="taskList">
      <!-- dunno -->
      <div class="left"></div><div class="right"></div>
      <!-- start task -->
      <button class="btn btn-success" id="go" type="submit">Go!</button>
      <!-- task input -->
      <ul class="slide">
        <li class="inner">   
          <div class="task" id="task">
            <input type="text" name="owner" id="new-task" class="edit" placeholder="That wasn't in the spec.." />
          </div>
          <div class="time">   
          </div>
        </li>
      </ul>
    </div>
    <div class="action">
      <!-- gif animation -->
      <div class="clock">
          <div class="led-base">
            <div class="timer"></div>
          </div>
      </div>
      <!-- stop task -->
      <div class="done">
        <p class="click-button"><a href="#" class="success" id="done">Go!</a></p>
      </div>
    </div>
</script>
<script type="text/x-handlebars-template" id="desk-view-nav">
  <div class='desk'>
    <h3>Filter Workspace by Owner:</h3>
    <select name="filter_owner">
    <option disabled selected> -- select an option -- </option>
    <% _.each(desks, function(desk){ %> 
      <option value="<%= desk.owner %>"><%= desk.owner %></option>
    <% }); %>
    </select>
  </div>
</script>
<script type="text/x-handlebars-template" id="task-view-display-task">
  <li class="inner" style="display: block; margin-top: 0px;">
        
        <div class="task">
          <div class="edited">xsfsfdsfdsfdsfsdfds<%= task %></div>
        </div>

        <div class="time">I spent 0 Minutes on this task</div>
        
  </li>
</script>

<!-- <script src="js/app/templates.js"></script> -->
<script src="js/app/main.js"></script>




</body>
</html>

<!-- 
var DocumentRow = Backbone.View.extend({

  tagName: "li",

  className: "document-row",

  events: {
    "click .icon":          "open",
    "click .button.edit":   "openEditDialog",
    "click .button.delete": "destroy"
  },

  initialize: function() {
    this.listenTo(this.model, "change", this.render);
  }

  render: function() {
    ...
  }

});

var doc = documents.first();

new DocumentRow({
  model: doc,
  id: "document-row-" + doc.id
});

model, collection, el, id, className, tagName and attributes -->

